.promo__option_primary {
  margin-top: -35px;
  z-index: 10;
  @include box-shadow(0 0 10px 8px rgba(0, 0, 0, 0.1));
  position: relative;
}

.promo__option_primary::after {
  content: url('blocks/promo/img/discount.svg');
  width: 78px;
  height: 77px;
  position: absolute;
  top: -30px;
  left: 287px;
}
