.popup__triangle {
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 36px solid #FFF;
  position: relative;
  top: 0px;
  left: 112px;
}