@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html {
  background-color: #E5E5E5;
}

* {
  font-family: "Noto Sans", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  width: 1028px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  line-height: 28px;
  color: #FFFF;
  min-height: 28px;
  min-width: 104px;
  vertical-align: baseline;
}

.button_color_blue {
  background-color: #66C3E6;
}

.button_color_red {
  background-color: #FF5F6D;
}

.button_color_grey {
  color: #94A1A7;
}

.menu {
  width: 1028px;
  height: 48px;
  background-color: #FFFF;
  padding: 0 20px;
  border-bottom: 1px solid #DCDCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.menu__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__exit_icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.menu__exit_title {
  color: #94A1A7;
  font-size: 15px;
  margin-right: 7px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  line-height: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__logo {
  display: inline-block;
  width: 129.61px;
  height: 19.75px;
}

.menu__status {
  min-width: 104px;
  min-height: 30px;
  margin-right: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  font-size: 15px;
  text-align: center;
}

.menu__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu__username {
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  font-weight: normal;
  color: #000000;
  margin-left: 8.5px;
  font-style: normal;
}

.menu__userpic {
  width: 30.09px;
  height: 30.17px;
}

.subscription-option {
  width: 318px;
  height: 352px;
  border: 2px solid #A5B4BB;
  border-radius: 8px;
  background-color: #FFFF;
  text-align: center;
  color: #000000;
}

.subscription-option__buy {
  background-color: #66C3E6;
  font-size: 17px;
  width: 144px;
  height: 40px;
  margin: 14px auto 29px;
  line-height: 28px;
}

.subscription-option__checkmark {
  position: absolute;
  top: 0;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #5EC3EA;
  border-radius: 5px;
}

.subscription-option__checkmark::after {
  content: url("blocks/subscription-option/img/check_icon.svg");
  position: relative;
  display: none;
  left: 3px;
  top: -4px;
  width: 10px;
  height: 8px;
}

.subscription-option__label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 34px;
  margin-bottom: 13px;
  letter-spacing: 0.00555556em;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.subscription-option__label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.subscription-option__label input:checked ~ .subscription-option__checkmark::after {
  display: block;
}

.subscription-option__label input:checked ~ .subscription-option__checkmark {
  background-color: #5EC3EA;
}

.subscription-option__subject-selection {
  text-align: left;
  border-bottom: 1px solid #C4C4C4;
  padding: 17px 0 10px 0px;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;
  width: 276px;
}

.subscription-option__title {
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  border-bottom: 1px solid #C4C4C4;
  width: 276px;
  margin: 19px auto 0px;
  padding: 0 0 14px 0;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0181818em;
}

.subscription-option__total {
  margin-top: 13px;
  font-size: 15px;
  line-height: 16px;
  position: relative;
  letter-spacing: 0.00555556em;
}

.subscription-option_primary {
  width: 356px;
  height: 433px;
  border: 3px solid #FF5F6D;
}

.subscription-option_primary::before {
  content: url("blocks/subscription-option/img/Badge.svg");
  position: absolute;
  width: 78.45px;
  height: 46.58px;
  top: -42px;
  left: 210px;
}

.subject__icon {
  display: block;
  margin: 0 auto;
}

.subject__image-container {
  display: inline-block;
  width: 30px;
  margin-right: 7px;
}

.subscription-option__buy_primary {
  width: 276px;
  height: 40px;
  background-color: #FF5F6D;
  margin-top: 8px;
  margin-bottom: 27px;
}

.subscription-option__total_primary {
  font-weight: bold;
  font-size: 18px;
  height: 22px;
  letter-spacing: 0.00555556em;
  margin-top: 21px;
}

.subscription-option__title_primary {
  font-weight: bold;
  font-style: normal;
  line-height: 32px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.02em;
}

.subscription-option__label_primary {
  margin-bottom: 21px;
}

.promo {
  background-color: #fafafa;
  width: 1028px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo__info {
  margin: 21px 0px 0px 0px;
  width: 988px;
  height: 220px;
  color: #FFF;
  border-radius: 14px;
  background: #6D40AA url(blocks/promo/img/Combined_Shape.svg) no-repeat right top;
  background-clip: border-box;
}

.promo__packages-info {
  float: right;
  margin: 19px 50px 0px 0px;
}

.promo__options {
  margin-top: -24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 988px;
}

.promo__overview {
  float: left;
  margin: 13px 0px 0px 29px;
}

.promo__packages-info {
  float: right;
  margin: 19px 50px 0px 0px;
}

.promo__title {
  font-size: 28px;
  line-height: 38px;
  height: 46px;
  width: 465px;
  font-weight: bold;
}

.promo__description {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  height: 44px;
}

.promo__list-item {
  list-style-image: url("blocks/promo/img/list_bullet.svg");
  font-size: 14px;
}

.promo__list-heading {
  font-size: 15px;
  line-height: 18px;
}

.promo__sold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 447px;
}

.promo__period {
  font-size: 13px;
  line-height: 16px;
  margin-top: 22px;
}

.promo__packages-left {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.promo__price-range {
  margin-top: 13px;
  margin-bottom: 1px;
}

.promo__option_primary {
  margin-top: -35px;
  z-index: 10;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.promo__option_primary::after {
  content: url("blocks/promo/img/discount.svg");
  width: 78px;
  height: 77px;
  position: absolute;
  top: -30px;
  left: 287px;
}

.promo__gift {
  color: #FFF;
  background-color: #7D5B52;
  width: 266px;
  height: 26px;
  border-radius: 13px;
  margin: 17px auto;
  line-height: 18px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo__gift::before {
  content: url("blocks/promo/img/chocolate_small.svg");
  position: absolute;
  left: -17px;
  top: -11px;
}

.promo__option_right {
  border-radius: 0px 8px 8px 0px;
  border-left: none;
}

.promo__option_left {
  border-radius: 8px 0px 0px 8px;
  border-right: none;
}

.promo__old-price {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 14px;
  width: 56px;
  height: 22px;
  color: #6A747A;
  position: relative;
  right: -250px;
  top: -28px;
  letter-spacing: 0.00555556em;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.promo__old-price::before {
  content: "";
  width: 49px;
  height: 2px;
  background-color: #FF5F6D;
  position: absolute;
  transform: rotate(-7.63deg);
  top: 14px;
  left: 0px;
}

.counter {
  text-align: center;
  width: 218px;
  height: 60px;
  border-radius: 8px;
  border: 2px solid #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter__digit {
  height: 52px;
  width: 68px;
  background-color: #FF5F6D;
  font-size: 28px;
  font-weight: bold;
  line-height: 37px;
  color: #FFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter__digit_left {
  border-radius: 4px 0 0 4px;
}

.counter__digit_right {
  border-radius: 0 4px 4px 0;
}

.price-range {
  font-size: 16px;
  line-height: 14px;
  display: flex;
  text-align: center;
}

.price-range__current {
  z-index: 2;
}

.price-range__current-label {
  font-size: 16px;
  width: 104px;
  height: 35px;
  margin-top: 3px;
}

.price-range__current-value {
  background-color: #FF5F6D;
  width: 120px;
  font-weight: bold;
  height: 29px;
  -webkit-clip-path: polygon(86% 0, 100% 50%, 86% 100%, 0 100%, 0 0);
  clip-path: polygon(86% 0, 100% 50%, 86% 100%, 0 100%, 0 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-range__next {
  position: relative;
  left: -20px;
  z-index: 1;
}

.price-range__next-label {
  font-size: 15px;
  width: 104px;
  height: 35px;
  margin-top: 3px;
}

.price-range__next-value {
  font-weight: bold;
  background-color: #63379E;
  width: 117px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup {
  background-color: #FFF;
  width: 300px;
  height: 195px;
  text-align: center;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin: 0 auto;
  z-index: 11;
  left: 25px;
  bottom: 159px;
  display: none;
}

.popup__description {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
}

.popup__header {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.popup__triangle {
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 36px solid #FFF;
  position: relative;
  top: 0px;
  left: 112px;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: inherit;
  height: inherit;
}

.popup__img {
  margin-top: 14px;
}

.popup_show {
  display: block;
}

/*# sourceMappingURL=style.css.map */
