.subscription-option__subject-selection {
  text-align: left;
  border-bottom: 1px solid $color-light-grey;
  padding: 17px 0 10px 0px;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;
  width: 276px;
}