.subscription-option__title {
  font-size: 22px;
  line-height: 32px;
  font-weight: normal;
  border-bottom: 1px solid $color-light-grey;
  width: 276px;
  margin: 19px - $option-border-width auto 0px;
  padding: 0 0 14px 0;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0181818em;
}