.button {
  //display: inline-block;
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  border-radius: $button-border-radius;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: $button-font-size;
  line-height: $button-line-height;
  color: $button-text-color;
  min-height: $button-height;
  min-width: $button-width;
  vertical-align: baseline;
}
