.subscription-option__label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 34px;
  margin-bottom: 13px;
  letter-spacing: 0.00555556em;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-size: 15px;
  @include user-select(none);
  @include display-flex();
  @include align-items(center);
  @include justify-content(left);
}

.subscription-option__label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

// Show the checkmark when checked
.subscription-option__label input:checked ~ .subscription-option__checkmark::after {
  display: block;
}

.subscription-option__label input:checked ~ .subscription-option__checkmark {
  background-color: $color-light-blue;
}