$font-family: 'Noto Sans', sans-serif;

$color-blue: #66C3E6;
$color-light-blue: #5EC3EA;
$color-grey: #94A1A7;
$color-light-grey: #C4C4C4;
$color-red: #FF5F6D;
$color-purple: #6D40AA;
$color-deep-purple: #63379E;
$color-chocolate: #7D5B52;

$button-text-color: #FFFF;
$button-line-height: 28px;
$button-border-radius: 5px;
$button-height: 28px;
$button-width: 104px;
$button-font-size: 15px;

$promo-background-color: #fafafa;
$promo-info-background-color: $color-purple;
$promo-border-radius: 14px;
$promo-width: 988px;
$promo-height: 220px;
$promo-margin: 21px 0px 0px 0px;
$promo-overview-margin: 13px 0px 0px 29px;

$option-width: 318px;
$option-height: 352px;
$option-border-color: #A5B4BB;
$option-border-radius: 8px;
$option-background-color: #FFFF;
$option-primary-width: 356px;
$option-primary-height: 433px;

$popup-width: 300px;

$counter-border-radius: 8px;

$page-width: 1028px;