.promo__old-price {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
  width: 56px;
  height: 22px;
  color: $color-dark-grey;
  position: relative;
  right: - (356px - 56px - 50px);
  top: - (6px + 22px);
  z-index: 10;
}

.promo__old-price::before {
  content: '';
  width: 49px;
  height: 2px;
  background-color: $color-red;
  position: absolute;
  transform: rotate(-7.63deg);
  z-index: 12;
  top: 14px;
  left: 0px;
}