$color-grey: #DCDCDC;

.menu {
  width: 1028px;
  height: 48px;
  background-color: #FFFF;
  padding: 0 20px;
  border-bottom: 1px solid $color-grey;
  @include display-flex();
  @include justify-content(space-between);
  @include align-items(center);
  position: relative;
}
